/* definições gerais */

:root {
    --icon-size: 2rem;
    --border-cover: 15%;
}

input[type=checkbox] {
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: none;
}

body {
    width: 100vw;
    height: auto;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: rgba(255, 99, 71, 0);
}

button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/* fim definições gerais */

.tela {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: absolute;
}

.tela-background-color {
    background-color: rgb(255, 255, 255);
}

/* cabeçalho */

.cabecalho {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonBox {
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}

.fa-bars:before {
    color: #959595;
    font-size: var(--icon-size);
    cursor: pointer;
}

.fa-bars:hover:before {
    color: #bbb;
}

.zoonOut {
    animation: zoonout .2s ease-in forwards;
}

@keyframes zoonout {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

.zoonIn {
    animation: zoonin .2s ease-in forwards;
}

@keyframes zoonin {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.fa-times:before {
    color: #959595;
    font-size: calc(var(--icon-size) + .5rem);
    cursor: pointer;
}

.fa-times:hover:before {
    color: #bbb;
}

.fa-search:before {
    font-size: var(--icon-size);
    color: black;
    cursor: pointer;
}

/* fim cabeçalho */

/* imagem capa */

.imagemCapa {
    width: 100vw;
    background-color: #00ffff;
    transition: all 0.3s ease-in;
}

.scale-minus {
    position: relative;
    z-index: 0;
    animation: scaleminus .3s ease-in forwards;
}

.scale-plus {
    position: relative;
    z-index: 0;
    animation: scaleplus .2s ease-in forwards;
}

/* fim imagem capa */

/* barra player */

#playerCorpo {
    width: 100vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background: #111;
    border: none;
    position: relative;
}

.fa-play {
    background-color: rgba(255, 255, 255, 0);
}

.fa-play::before {
    font-size: var(--icon-size);
}

/* fim barra player */

/* secao lista de musicas */

.listaMusicas {
    background-color: rgb(0, 0, 0);
}

.listaMusicasOpen {
    width: 100vw;
    position: relative;
    animation: mostralista .2s ease-in forwards;
}

.listaMusicasClose {
    position: relative;
    animation: esconderlista .2s ease-in forwards;
}

/* fim secao lista de musicas */


/* declaraçoes media queries */
@media only screen and (max-width: 449px) {
    
    .cabecalho {
        height: 10vh;
    }
    
    .imagemCapa {
        height: 60vh;
    }
    
    #playerCorpo {
        height: 40vh;
    }
    
    @keyframes scaleminus {

        0% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    
        100% {
            transform: scale(.4, .5);
            bottom: 0%;
            right: 22%;
            border-radius: var(--border-cover);
        }
    }

    @keyframes scaleplus {

        0% {
            transform: scale(.4, .5);
            bottom: 0%;
            right: 22%;
            border-radius: var(--border-cover);
        }
    
        100% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    }

    @keyframes mostralista {

        0% {
            height: 0vh;
        }
    
        100% {
            height: 75vh;

        }
    }

    @keyframes esconderlista {

        0% {
            height: 75vh;
        }
    
        100% {
            height: 0vh;

        }
    }

}

@media only screen and (min-width: 450px) {
    
    .cabecalho {
        height: 10vh;
    }
    
    .imagemCapa {
        height: 60vh;
    }
    
    #playerCorpo {
        height: 40vh;
    }
    
    @keyframes scaleminus {

        0% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    
        100% {
            transform: scale(.4, .4);
            bottom: 10%;
            right: 25%;
            border-radius: var(--border-cover);
        }
    }

    @keyframes scaleplus {

        0% {
            transform: scale(.4, .4);
            bottom: 10%;
            right: 25%;
            border-radius: var(--border-cover);
        }
    
        100% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    }

    @keyframes mostralista {

        0% {
            height: 0vh;
        }
    
        100% {
            height: 150vh;

        }
    }

    @keyframes esconderlista {

        0% {
            height: 150vh;
        }
    
        100% {
            height: 0vh;

        }
    }

}

@media only screen and (min-width: 500px) {

    .cabecalho {
        height: 10vh;
    }

    .imagemCapa {
        height: 80vh;
    }
    
    #playerCorpo {
        height: 20vh;
    }

    @keyframes scaleminus {

        0% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    
        100% {
            transform: scale(.3, .5);
            bottom: 2%;
            right: 23%;
            border-radius: var(--border-cover);
        }
    }

    @keyframes scaleplus {

        0% {
            transform: scale(.3, .5);
            bottom: 2%;
            right: 23%;
            border-radius: var(--border-cover);
        }
    
        100% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    }

    @keyframes mostralista {

        0% {
            height: 0vh;
        }
    
        100% {
            height: 150vh;

        }
    }

    @keyframes esconderlista {

        0% {
            height: 150vh;
        }
    
        100% {
            height: 0vh;

        }
    }

}

@media only screen and (min-width: 900px) {
   
    .cabecalho {
        height: 10vh;
    }

    #imagemCapa {
        height: 80vh;
    }
    
    #playerCorpo {
        height: 20vh;
    }

    @keyframes scaleminus {

        0% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    
        100% {
            transform: scale(.3, .3);
            bottom: 19%;
            right: 27%;
            border-radius: var(--border-cover);
        }
    }

    @keyframes scaleplus {

        0% {
            transform: scale(.3, .3);
            bottom: 19%;
            right: 27%;
            border-radius: var(--border-cover);
        }
    
        100% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    }

    @keyframes mostralista {

        0% {
            height: 0vh;
        }
    
        100% {
            height: 150vh;

        }
    }

    @keyframes esconderlista {

        0% {
            height: 150vh;
        }
    
        100% {
            height: 0vh;

        }
    }
    
}

@media only screen and (min-width: 1200px) {

    #cabecalho {
        height: 10vh;
    }

    .imagemCapa {
        height: 90vh;
    }
    
    #playerCorpo {
        height: 10vh;
    }

    @keyframes scaleminus {

        0% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    
        100% {
            transform: scale(.1, .4);
            bottom: 2%;
            right: 40%;
            border-radius: var(--border-cover);
        }
    }

    @keyframes scaleplus {

        0% {
            transform: scale(.1, .4);
            bottom: 2%;
            right: 40%;
            border-radius: var(--border-cover);
        }
    
        100% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    }

    @keyframes mostralista {

        0% {
            height: 0vh;
        }
    
        100% {
            height: 150vh;

        }
    }

    @keyframes esconderlista {

        0% {
            height: 150vh;
        }
    
        100% {
            height: 0vh;

        }
    }

}

@media only screen and (min-width: 1800px) {

    .cabecalho {
        height: 10vh;
    }

    .imagemCapa {
        height: 90vh;
    }
    
    #playerCorpo {
        height: 10vh;
    }
    
    @keyframes scaleminus {

        0% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    
        100% {
            transform: scale(.1, .5);
            bottom: 0%;
            right: 41%;
            border-radius: var(--border-cover);
        }
    }

    @keyframes scaleplus {

        0% {
            transform: scale(.1, .5);
            bottom: 0%;
            right: 41%;
            border-radius: var(--border-cover);
        }
    
        100% {
            transform: scale(1, 1);
            bottom: 0%;
            right: 0%;
            border-radius: 0;
        }
    }

    @keyframes mostralista {

        0% {
            height: 0vh;
        }
    
        100% {
            height: 150vh;

        }
    }

    @keyframes esconderlista {

        0% {
            height: 150vh;
        }
    
        100% {
            height: 0vh;

        }
    }
}

/* fim declaraçoes media queries */