/* definições gerais */

input[type=checkbox] {
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: none;
}

body {
    width: 100vw;
    height: auto;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: rgba(255, 99, 71, 0);
}

button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/* fim definições gerais */

.tela {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

/* cabeçalho */

.cabecalho {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonBox {
    width: 10vw;
    height: auto;
}

.fa-bars:before {
    color: #959595;
    margin-left: 5vw;
    font-size: 2rem;
    cursor: pointer;
}

.fa-bars:hover:before {
    color: #bbb;
}

.fa-times:before {
    color: #959595;
    margin-left: 5vw;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
}

.fa-times:hover:before {
    color: #bbb;
}

.fa-search:before {
    margin-right: 5vw;
    font-size: 2rem;
    cursor: pointer;
}

/* fim cabeçalho */

.imagemCapa {
    width: 100vw;
    background-color: aqua;
    transition: all 0.3s ease-in;
}

/* barra player */

#playerCorpo {
    width: 100vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background: #111;
    border: none;
}

.fa-play {
    background-color: rgba(255, 255, 255, 0);
}

.fa-play::before {
    font-size: 2rem;
}

/* fim barra player */


/* declaraçoes media queries */

@media only screen and (max-width: 599px) {
    
    .cabecalho {
        height: 10vh;
    }
    
    .imagemCapa {
        height: 60vh;
    }
    
    #playerCorpo {
        height: 40vh;
    }
    
}

@media only screen and (min-width: 600px) {

    .cabecalho {
        height: 10vh;
    }

    .imagemCapa {
        height: 80vh;
    }
    
    #playerCorpo {
        height: 20vh;
    }

}

@media only screen and (min-width: 900px) {
   
    .cabecalho {
        height: 10vh;
    }

    #imagemCapa {
        height: 80vh;
    }
    
    #playerCorpo {
        height: 20vh;
    }
    
}

@media only screen and (min-width: 1200px) {

    #cabecalho {
        height: 10vh;
    }

    .imagemCapa {
        height: 90vh;
    }
    
    #playerCorpo {
        height: 10vh;
    }
}

@media only screen and (min-width: 1800px) {

    .cabecalho {
        height: 10vh;
    }

    .imagemCapa {
        height: 90vh;
    }
    
    #playerCorpo {
        height: 10vh;
    }
    
}

/* fim declaraçoes media queries */